 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #777EA3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}



.maincontain {
    width: 86%;
    margin:0 auto;
    border:solid 1px;
    background-color:#E6E6DC;
}

.title {
  margin-left: 50px;
  width: 200px;
  height:200px;
  float:left;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #6e6;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
    text-align:center;
  }
}

section{
  max-width:64em;
  margin-left:auto;margin-right:auto;
  text-align:center;
  margin-bottom:3em
}
section:after{
    content:"";
    display:table;
    clear:both;
}

section>code,section code.block{
    display:block;
}

section div{
    height:6.472em;
    line-height:1.618em;
    text-align:left;padding:1em;
}

section.zero div{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:48.82117%;
    height:5em;
    border:5px solid;
    background-color:#777EA3;
}

section.zero div:last-child {
      margin-right:0;
}

section.first div#title_a{
  float:left;display:block;
  margin-right:2.35765%;
  width:6.17215%;
}

section.first div#title_a:last-child{
  margin-right:0;
}

section.first div#author_b{
  float:left;
  display:block;
  margin-right:2.35765%;
  width:91.4702%;
}

section.first div#author_b:last-child{
    margin-right:0;
}

#titleinput {
  width: 200px;
  text-align: center;
  margin-left: 100px;
}

// #newpost form {
//   height:20px;
//   width:30px;
// }

#tagsinput {
  width: 343px;
  height:36px;
  text-align: center;
  margin-left: -2px;
  border: 5px solid;
}

#createpost {
  margin-right: 200px;
  float: right;
  border-radius: 1px;
  width: 103px;
  height: 35px;
  border-radius: 50px;
}

#createpost:hover {
  color:#6e6;
}

textarea.postform{
  width: 506px;
  margin-left: -10px;
  height: 120px;
}

.box1 {
  float: left;
  display: block;
  margin-left: 190px;
  height: 100px;
  width: 700px;
}

.box2 {
  float: left;
  display: block;
  margin-left: 190px;
  height: 100px;
  width: 700px;
  border: 3px solid;
  margin-top:18px;
  padding-top:8px;
}

.box3 {
  float: left;
  display: block;
  margin-left: 190px;
  height: 100px;
  width: 700px;
  border: 3px solid;
  padding-top:8px;
  margin-top:18px;
}
.liststyle li {
  decoration:none;
}
ul.submitted_list li {
  margin-bottom: 25px;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color:#6e6;
  text-decoration:none;
}

button.delete {
   margin-top: -39px;
   float: right;
   background-color: #BA5D62;
 }
 
.read a {
  text-decoration: line-through;
  color: grey;
}
.actions {
     float: right;
     margin-top: -25px;
     margin-right: 10px;
     margin-bottom: 10px;
     button {
       background-color: grey;
     }
}     
.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #6e6;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.titlestyle a {
  background-color:#6e6;
  border-radius: 6px;
  h1 {
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blue;
    background-color: wheat;
    font-size: 30px;
    color: #386f8a;
  }
}